#aupd-container #aupd_manual_date_time, #aupd-container form > h2, #aupd-container .form-table tr:nth-child(4), #aupd-container .form-table tr:nth-child(5) {
	display: none;
}

#aupd-container .aupd_auto_mode_period_offset_value {
	margin-top: 10px;
}

#aupd-container .aupd_auto_mode_period_offset_value > input {
	width: 55px;
}

#aupd-container .aupd_auto_mode_period_offset_value > select {
	vertical-align: top;
}

@media only screen and (min-width:1024px){
    #aupd-container .aupd-all-posts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 500px;
		overflow-y: scroll;
    }

    #aupd-container .aupd-all-posts-list::before {
        display: none;
    }
}