#aupd-container #aupd_manual_date_time, #aupd-container #aupd-taxonomy-posts, #aupd-container #aupd-specific-posts-list, #aupd-container form > h2, #aupd-container .form-table tr:nth-child(4), #aupd-container .form-table tr:nth-child(5) {
	display: none;
}

#aupd-container .aupd_auto_mode_period_offset_value {
	margin-top: 10px;
}

#aupd-container .aupd_auto_mode_period_offset_value > input {
	width: 55px;
}

#aupd-container .aupd_auto_mode_period_offset_value > select {
	vertical-align: top;
}

.aupd-all-posts-list {
	max-height: 400px;
	overflow-y: scroll;
	padding: 20px;
    background-color: #0e253d;
}

@media only screen and (min-width:1024px){
    #aupd-container .aupd-all-posts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #aupd-container .aupd-all-posts-list::before {
        display: none;
    }
}


/* checkbox styles */
.aupd-all-posts-list input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.aupd-all-posts-list .aupd-posts-cb-label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.aupd-all-posts-list .aupd-posts-cb-label span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    margin-bottom: 12px;
    color: #fff;
}

.aupd-all-posts-list .aupd-posts-cb-label span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
    background-color: #fff;
}

.aupd-all-posts-list .aupd-posts-cb-label span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.aupd-all-posts-list .aupd-posts-cb-label span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.aupd-all-posts-list .aupd-posts-cb-label span:last-child {
    padding-left: 8px;
}

.aupd-all-posts-list .aupd-posts-cb-label:hover span:first-child {
    border-color: #506EEC;
}

.aupd-all-posts-list .aupd-posts-checkbox:checked + .aupd-posts-cb-label span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
}

.aupd-all-posts-list .aupd-posts-checkbox:checked + .aupd-posts-cb-label span:first-child svg {
    stroke-dashoffset: 0;
}

.aupd-all-posts-list .aupd-posts-checkbox:checked + .aupd-posts-cb-label span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
}