#aupd-container #aupd_manual_date_time, #aupd-container form > h2, #aupd-container .form-table tr:nth-child(4), #aupd-container .form-table tr:nth-child(5) {
	display: none;
}

.aupd_auto_mode_period_offset_value {
	margin-top: 10px;
}

.aupd_auto_mode_period_offset_value > input {
	width: 55px;
}

.aupd_auto_mode_period_offset_value > select {
	vertical-align: top;
}

.aupd-all-posts-list {
	max-height: 500px;
	overflow-y: scroll;
}